
<div class="content">
   <div class="container">
     <div class="content-grids">
   <% @schools.each do |school| %>
       <div class="col-md-4 content-grid1">
          <% if !school.picture_url.nil? %>
            <%= link_to image_tag(school.picture_url), controller: 'schools', action: 'show', id: school.id%>
         <% else %>
            <%= link_to image_tag("school_children.jpg"), controller: 'schools', action: 'show', id: school.id%>
         <% end %>
         <h3><%= school.name %></h3>
         <p><%= school.description %></p>
         <%= link_to "Learn more...", controller: 'schools', action: 'show', id: school.id %>
            <p> <%= link_to "Approve", controller: "school_admins", action: "approve", id: school.id %> </p>
       </div>
       <% end %>
       <div class="clearfix"></div>
     </div>
   </div>
    <%= will_paginate @schools %>
   </div>
