
<div class="content">
   <div class="container">
     <div class="content-grids">
   <% @schools.each do |school| %>
   <% if !school.approved? %>
    <%= link_to school_path(school) do %>
       <div class="col-md-4 content-grid1">
          <% if !school.picture_url.nil? %>
            <%= image_tag(school.picture_url(:thumb))%>
         <% else %>
            <%= image_tag("school_children.jpg")%>
         <% end %>
         <h3><%= school.name %></h3>
         <p><%= truncate(school.description, length: 100) %></p>
         <p> State:  <%= school.location  %> </p>
        <!--  <%= link_to "Learn more...", controller: 'schools', action: 'show', id: school.id %> -->
            <p> <%= link_to "Approve", controller: "school_admins", action: "approve", id: school.id %> </p>
       </div>
       <% end %>
       <% end %>
       <% end %>
       <div class="clearfix"></div>
     </div>
   </div>
   </div>
