
<div class="container">
   <div class="container marketing">
     <div class="row row-centered">
     <% @schools.each do |school| %>
      <% if school.approved? %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			  <% if !school.picture_url.nil? %>
          <%= link_to image_tag(school.picture_url, :size => "140x140", class: "img-circle"), controller: 'schools', action: 'show', id: school.id %>
        <% else %>
          <%= link_to image_tag("CTqsxJoW4AAIeZD.jpg", :size => "140x140", class: "img-circle"), controller: 'schools', action: 'show', id: school.id %>
        <% end %>
         	 <h2><%= link_to school.name, controller: 'schools', action: 'show', id: school.id %></h2>
          	<p><%= school.category%></p>
            <% if !school.website.nil? %>
              <%= link_to "Visit website", school.website %>
            <% else %>
          	<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            <%end %>
        </div><!-- /.col-lg-4 -->
         <% end %>
        <%end %>
       </div>
    </div>
    </div>
