<div class = "row row-centered">

    <div class = "no-picture-center">
     <%= image_tag("school_children.jpg", :size => "400x400", class: "img-responsive") %>
    </div>

    <%= render 'schools/description' %>
</div>
<div class="container">
	<div class="starter-template"> 
     <p class="lead"> Address: <%= @school.address %>, <%= @school.location %> </p>
     <p class="lead"> Category: <%= @school.category %> </p>
    </div>
</div>

<!-- use clearfix after the last col-md grid -->