<% provide(:title, 'Edit School') %>

<h1>Edit <%= @school.school_name %></h1>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		<%= form_for(@school) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> <!-- f.object utilzes object.count for this form, so errors listed rely on the validations made in the school model -->
			<%= f.label :name %>
			<%= f.text_field :school_name, class: 'form-control' %>

			<%= f.label :address %>
			<%= f.text_field :school_address, class: 'form-control' %>

			<%= f.label :description %>
			<%= f.text_area :school_description, class: 'form-control' %>

			<%= f.label :location %>
			<%= f.text_field :location, class: 'form-control', id: 'autoLocation' %>

			<%= f.label :website %>
			<%= f.text_field :website, class: 'form-control' %>

			<%= f.label :category %>
			<%= f.select(:category, ["Creche", "Primary", "Secondary", "Primary&Secondary", "University"], class: 'btn btn-info')  %> <!-- f.select is used to create dropdown lists and has many ways of passing values -->

			<%= f.label :classification %>
			<%= f.select(:category, ["Federal", "State", "Private"])  %>

			<span class = "picture">
				<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
				<%= f.hidden_field :picture_cache %>
			</span>

			<%= f.submit "Post", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>