<% provide(:title, 'Edit School') %>

<h1>Edit school</h1>

<div class="contact">
	 <div class="container">
		 <div class="contact-grids">
		<%= form_for(@school, html: {multipart: true}) do |f| %>
			<%= render 'shared/error_messages', object: f.object %> <!-- f.object utilzes object.count for this form, so errors listed rely on the validations made in the school model -->
			
			<%= f.text_field :name, placeholder: 'Name' %>

			
			<%= f.text_field :address, placeholder: 'Address'%>


			<%= f.text_field :location, placeholder: 'Location', id: 'autoLocation' %>

			<%= f.text_field :website, placeholder: 'Website'%>
			
			<%= f.text_area :description, placeholder: 'Description' %>


			<%= f.label :category %>
			<%= f.select(:category, ["Creche", "Primary", "Secondary", "Primary&Secondary", "University"], {class: "form-control"} ) %> <!-- f.select is used to create dropdown lists and has many ways of passing values -->

			<%= f.label :classification %>
			<%= f.select(:classification, ["Federal", "State", "Private"])  %>


			<span class = "picture">
				<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', :class => "btn btn-primary" %>
				<%= f.hidden_field :picture_cache %>
			</span>

			<%= f.submit "Post", class: 'btn btn-primary' %>
		<% end %>
		</div>
		</div>
		</div>

