
<!-- banner -->
<div class="banner">
		<script src="js/responsiveslides.min.js"></script>
  <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 300,
        manualControls: '#slider3-pager',
      });
    });
  </script>

 <div class="slider">
	  <div class="callbacks_container">
	     <ul class="rslides" id="slider">
	         <li>
				  <%= image_tag("work/images/school_children.jpg")%>
				  <div class="banner-info">
				  <h3>Find Primary and Secondary Schools</h3>
				  <p>Just moved, and looking for a school for your children. Look no further. No matter the state, we've got 
				  you covered</p>
				  </div>
	         </li>
	         <li>
				 <%= image_tag("work/images/Nigerian-university-students.jpg")%>
	        	 <div class="banner-info">
				  <h3>Or the university of your liking</h3>
				  <p>Or you're just about to leave secondary school, and you're looking to find a university in any state without looking
				  for a JAMB brochure, we're right here</p>
				  </div>
			 </li>
	         <li>
	             <%= image_tag("work/images/Creche.jpg")%>
	        	 <div class="banner-info">
				  <h3>A lovely creche for your little ones</h3>
				  <p>Why go through the hassle of finding a creche around your house or work place, when you can just use us? We
				  provide results within a 10 mile radius of whereever you are</p>
				  </div>
	         </li>
	      </ul>
	  </div>
  </div>

				
	
	 <div class="banner-bottom-grids">
		 <div class="container">
		 <%= link_to  creches_path do %>
			 <div class="col-md-6 banner-text-info clr1">
				 <i class="icon1"></i>
				 <div class="bnr-text">				 
					 <h3>Creches</h3>
					 <p>Find creches around you</p>
				 </div>
			 </div>
			 <% end %>

			 <%= link_to primary_path do %>
			 <div class="col-md-6 banner-text-info clr2">	
				 <i class="icon2"></i>
				 <div class="bnr-text">
					 <h3>Primary Schools</h3>
					 <p>Find solely primary schools and primary schools only</p>
				 </div>
			 </div>
			 <% end %>
			 <div class="clearfix"></div>
			 
			 <%= link_to secondary_path do %>
			 <div class="col-md-6 banner-text-info clr3 btm">	
				 <i class="icon3"></i>
				 <div class="bnr-text">
					 <h3>Secondary schools</h3>
					 <p>Find solely secondary schools and secondary schools only</p>
				 </div>
			 </div>
			 <% end %>

			 <%= link_to primary_and_secondary_path do %>
			 <div class="col-md-6 banner-text-info clr4 btm">	
				 <i class="icon4"></i>
				 <div class="bnr-text">
					 <h3>Primary and Secondary Schools</h3>
					 <p>Find mixed primary and secondary schools</p>
				 </div>
			 </div>
			 <% end %>

			 <div class="clearfix"></div>
			 <%= link_to universities_path do %>
			 <div class="col-md-6 banner-text-info clr3 btm">	
				 <i class="icon4"></i>
				 <div class="bnr-text">
					 <h3>Universities</h3>
					 <p>Or looking for a university</p>
				 </div>
			 </div>
			 <% end %>

			  <%= link_to new_school_path, 'data-no-turbolink' => true  do %>
			 <div class="col-md-6 banner-text-info clr4 btm">	
				 <i class="icon4"></i>
				 <div class="bnr-text">
					 <h3>Add a new school</h3>
					 <p>Help the cause, and keep adding schools</p>
				 </div>
			 </div>
			 <% end %>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!-- //banner -->

<!-- content -->
<div class="content">
	 <div class="container">
		 <div class="content-grids">
			 <div class="col-md-4 content-grid1">
			 	<% if !@school1.picture_url.nil? %>
				 <%= image_tag(@school1.picture_url)%>
				<% else %>
				<%= image_tag("school_children.jpg")%>
				<% end %>
				 <h3><%= @school1.name %></h3>
				 <p><%= @school1.description %></p>
				 <%= link_to "Learn more...", controller: 'schools', action: 'show', id: @school1.id %>
			 </div>
			 <div class="col-md-4 content-grid1">
			 	<% if !@school2.picture_url.nil? %>
					 <%= image_tag(@school2.picture_url)%>
				<% else %>
					<%= image_tag("school_children.jpg")%>
				<% end %>
				 <h3><%= @school2.name %></h3>
				 <p><%= @school2.description %></p>
				 <%= link_to "Learn more...", controller: 'schools', action: 'show', id: @school2.id %>
			 </div>
			 <div class="col-md-4 content-grid1">
			 	<% if !@school1.picture_url.nil? %>
				    <%= image_tag(@school1.picture_url)%>
				<% else %>
				   	<%= image_tag("school_children.jpg")%>
				<% end %>
				 <h3><%= @school3.name %></h3>
				 <p><%= @school3.description %></p>
				 <%= link_to "Learn more...", controller: 'schools', action: 'show', id: @school3.id %>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!--- //content--->
<!-- content-bottom -->
<div class="content-info">
	 <div class="container">
		 <div class="content-bottom-grids">
			 <div class="col-md-4 welcome-pic">
				 <h3>ABOUT</h3>
				 <h4>Find that school</h4>
				 <%= image_tag("school_children.jpg")%>
				 <p>We exist solely to make your school hunting really easy. You'd save fuel, time and energy looking for a school.
				 Even if you just want to check up on your alma mater, we're your best bet.</p>
			</div>
			<div class="col-md-4 coach">
				 <h3>Developers</h3>
				 <div class="coch-grid chr">
					 <div class="coach-pic">
						 <%= image_tag("work/images/kachi.jpg")%>
					 </div>
					 <div class="coach-pic-info">
						 <h4><a href="#">Okereke Onyekachi</a></h4>
						 <h5>Rails Dev </h5>
						 <p>Some peopke think I scare them, but I'm friendly</p>
					 </div>
					 <div class="clearfix"></div>
				 </div>
			</div>
			<div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!-- //content-bottom -->
<!--footer-->

<% unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<% end %>