<div class="footer">
	 <div class="container">
		 <div class="copywrite">
			 <p>© 2016 Kigemo </p>
		 </div>
		 <div class="footer-menu">
			 <ul>
			 	<% if !logged_in? %>
					 <li><%= link_to "HOME", root_path %></li>
					 <li><%= link_to "ABOUT US", about_path %></li>
					 <li><%= link_to "CONTACT", contact_path %></li>
					 <li><%= link_to "ADD A SCHOOL", new_school_path, 'data-no-turbolink' => true %> </li>
					 <li><%= link_to "ADMIN", login_path %></li>
				<% else %>
					<li><%= link_to "HOME", root_path %></li>
				    <li><%= link_to "ABOUT US", about_path %></li>
				    <li><%= link_to "CONTACT", contact_path %></li>
				    <li><%= link_to "ADD A SCHOOL", new_school_path, 'data-no-turbolink' => true %> </li>
				 	<li><%= link_to "PROFILE", user_path(session[:user_id])%> </li>
					<li><%= link_to "LOGOUT", logout_path %></li>
				<% end %>
			 </ul>
		 </div>
		 <div class="clearfix"></div>
	 </div>
</div>