<div class="header">
	 <div class="container">
		 <div class="logo">
			   <h1><%= link_to "Schools.ng", root_path %></h1>
		 </div>	
		 <div class="top-menu">
			 <span class="menu"></span>
			  <ul>
			  <% if !logged_in? %>
			  	<% if current_page?(root_path) %>
				 	<li class="active"><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				<% elsif current_page?(controller: 'schools', action: 'about') %>
					<li><%= link_to "HOME", root_path %></li>
				 	<li class="active"><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				<% elsif current_page?(controller: 'schools', action: 'contact')%>
					<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li class="active"><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 <% elsif current_page?(controller: 'users', action: 'show') %>
				 	<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li class="active"><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				<% else %>
					<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "Add a School", new_school_path %> </li>
				<% end %>


			<% else %>
				<% if current_page?(root_path) %>
				 	<li class="active"><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 	<li><%= link_to "PROFILE", user_path(session[:user_id])%> </li>
				 	<li><%= link_to "LOGOUT", logout_path %></li>
				<% elsif current_page?(controller: 'schools', action: 'about') %>
					<li><%= link_to "HOME", root_path %></li>
				 	<li class="active"><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 	<li><%= link_to "PROFILE",user_path(session[:user_id])%> </li>
				 	<li><%= link_to "LOGOUT", logout_path %></li>
				<% elsif current_page?(controller: 'schools', action: 'contact')%>
					<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li class="active"><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 	<li><%= link_to "PROFILE", user_path(session[:user_id])%> </li>
				 	<li><%= link_to "LOGOUT", logout_path %></li>
				 <% elsif current_page?(controller: 'schools', action: 'new') %>
				 	<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li class="active"><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 	<li><%= link_to "PROFILE", user_path(session[:user_id])%> </li>
				 	<li><%= link_to "LOGOUT", logout_path %></li>
				<% elsif current_page?(controller: 'users', action: 'show') %>
					<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 	<li class="active"><%= link_to "PROFILE", user_path(session[:user_id]) %> </li>
				 	<li><%= link_to "LOGOUT", logout_path %></li>
				<% elsif current_page?(controller: 'sessions', action: 'destroy')  %>
					<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 	<li><%= link_to "PROFILE", user_path(session[:user_id])%> </li>
				 	<li class="active"><%= link_to "LOGOUT", logout_path %></li>
				<% else %>
					<li><%= link_to "HOME", root_path %></li>
				 	<li><%= link_to "ABOUT US", about_path %></li>
				 	<li><%= link_to "CONTACT", contact_path %></li>
				 	<li><%= link_to "ADD A SCHOOL", new_school_path %> </li>
				 	<li><%= link_to "PROFILE", user_path(session[:user_id])%> </li>
				 	<li><%= link_to "LOGOUT", logout_path %></li>
				<% end %>
			<% end %>

			 </ul>			 
		 </div>			
		 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	  	

		 <div class="clearfix"></div>
	 </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="strip">
	 <div class="container">
	 <div class="search">
 <%= form_tag(search_path, method: :get) do  %>
      <%= text_field_tag :query, params[:query], { placeholder: "Type a school's name or state"}%>
      <%= submit_tag ''%>
  <% end %>
     </div>     
	 <div class="social">			 
			 <a href="#"><i class="facebook"></i></a>
			 <a href="#"><i class="twitter"></i></a>
			 <a href="#"><i class="dribble"></i></a>	
			 <a href="#"><i class="google"></i></a>	
			 <a href="#"><i class="youtube"></i></a>	
	 </div>
		<div class="clearfix"></div>
		</div>
</div>